<div class="topHeader">
  <img src="assets/imgs/logo-soonly.svg" alt="Image" class="logo">
  <img src="assets/imgs/settings.svg" alt="Image" class="settings" (tap)=showOpenSurprise()>
</div>

<div class="mainContent" [ngClass]="{'noBox': calendars == null}">
  <div class="subHeader">
    <div *ngFor="let calendar of calendars; let isFirst = first" class="user"
         [ngClass]="{'active': ((isFirst && calendarid===undefined) || (calendarid == calendar.id)) }"
         (tap)="showTheCalendar(calendar.id)">
      <img src="assets/imgs/person.svg" alt="Image">
      <p>{{ calendar.name }}</p>
      <div class="selectMark"></div>
    </div>
  </div>

<!--
.open : Case ouverte
.discover : "Ouvrez vite" Case non ouverte et ouvrable
-->
  <ion-content>
    <div class="calendarGroup" >
      <div *ngFor="let event of events" class="case"
           [ngClass]="{ 'open': event.viewed,
                        'discover': event.discover && !event.viewed
                        }"
           (tap)="showOpenSurprise(event.id)">
        <div class="content">
          <p class="dayLeft">J-{{ event.dayLeft }}</p>
          <p class="dayNumber">{{ event.dayNumber }}</p>
          <p class="info" *ngIf="event.id===-1"></p>
          <p class="info" *ngIf="event.viewed">Ouvert</p>
          <p class="info" *ngIf="!event.viewed && event.discover || event.toBeSeen">Ouvrez vite</p>
        </div>
        <div class="mask"></div>
        <div class="mask2"></div>
      </div>
    </div>
    <div class="addButton" (tap)="showCalendarCreationOne()">
      <img src="assets/imgs/add.svg" alt="Image">
    </div>
  </ion-content>
</div>

<div class="addButton" (tap)="showCalendarCreationOne()">
  <img src="assets/imgs/add.svg" alt="Image">
</div>

<div class="tabBar hide-on-keyboard-open">
  <div class="logoPlacement">
    <img src="assets/imgs/logo-soonly.svg" alt="Image">
  </div>

  <div class="menu">
    <div class="menuItem active">
      <div class="borderLeft"></div>
      <img src="assets/imgs/event-active.svg" alt="Image">
      <p>Reçus</p>
    </div>

    <div class="menuItem" (tap)="showMyCalendarsSend()">
      <div class="borderLeft"></div>
      <img src="assets/imgs/send.svg" alt="Image">
      <p>Envoyés</p>
    </div>

    <div class="menuItem" (tap)="showMemories()">
      <div class="borderLeft"></div>
      <img src="assets/imgs/photo_library.svg" alt="Image">
      <p>Souvenirs</p>
    </div>
  </div>
</div>

<div class="noBoxContent" [ngClass]="{'noBox': calendars == null}">
  <img src="assets/imgs/illu4.png" alt="Image">
  <h3>Aucun calendrier en vue</h3>
  <p>Parlez de l'application à vos proches et demandez-leur de créer un calendrier</p>
</div>
