page-myCalendarsReceived {

  .calendarGroup {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media (min-width: 567px) {
      justify-content: space-around;
    }
  }

  .addButton {
    position: fixed;
    display: flex;
    background-color: #9d77e0;
    padding: 22px;
    bottom: 94px;
    right: 38px;
    border-radius: 100px;
    box-shadow: 0 2px 15px 0 rgba(157, 119, 224, 0.4);

    img {
      width: 20px;
      height: 20px;
    }
  }
}
