page-myCalendarsReceived {
  &.ion-page .mainContent ion-content .scroll-content {
    background-color: #f6f9fe;
    padding: 25px 8px!important;
  }

  .calendarGroup {
    display: flex;
    flex-wrap: wrap;
    width: calc(100vw - 16px);

    @media (min-width: 567px) {
      justify-content: space-around;
    }

    .case {
      position: relative;
      background-color: white;
      width: calc(50% - 16px);
      padding-top: calc(50% - 16px);
      margin: 8px;
      border-radius: 5px;

      .content {
        position: absolute;
        top: 0;
      }

      .mask {
        position: absolute;
        background-color: #f6f9fe;
        height: 50px;
        width: 25px;
        border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
      }
    }
  }

  .addButton {
    position: fixed;
    display: flex;
    background-color: #9d77e0;
    padding: 22px;
    bottom: 94px;
    right: 38px;
    border-radius: 100px;
    box-shadow: 0 2px 15px 0 rgba(157, 119, 224, 0.4);

    img {
      width: 20px;
      height: 20px;
    }
  }
}
