page-myCalendarsReceived, page-myCalendarsSend {
  position: relative;

  &.ion-page .mainContent ion-content .scroll-content {
    background-color: #f6f9fe;
    padding: 25px 8px!important;
  }

  .calendarGroup {
    display: flex;
    flex-wrap: wrap;
    width: calc(100vw - 16px);

    @media (min-width: 567px) {
      justify-content: space-around;
    }

    .case {
      position: relative;
      background-color: white;
      width: calc(50% - 16px);
      padding-top: calc(50% - 16px);
      margin: 8px;
      border-radius: 5px;

      &.discover {
        border: dashed 2px #a7b6d1;
        box-shadow: 0 2px 15px 0 rgba(167, 182, 209, 0.4);

        .content .info {
          display: block;
        }

        .mask {
          border-left: dashed 2px #a7b6d1;
          border-top: dashed 2px #a7b6d1;
          border-bottom: dashed 2px #a7b6d1;
          box-shadow: inset 0px 2px 5px 0px rgba(167,182,209,0.4);
        }
      }

      &.add .content .info {
        display: block;
        color: #203c6c;
      }

      &.open .content .info {
        display: block;
        color: #ce7070;
      }

      &.fill .content .info {
        display: block;
        color: #70cea4;
      }

      &.addBright {
        z-index: 20;
        box-shadow: 0 2px 15px 0 #a7b6d1;
        filter: none;

        .mask {
          box-shadow: inset 0 2px 15px 0 #a7b6d1;
          filter: brightness(0.4);
        }

        .mask2 {
          filter: brightness(0.4);
        }

        .content .info {
          display: block;
        }
      }

      .content {
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        .dayLeft {
          font-size: 16px;
          color: #203c6c;
          margin-bottom: 5px;
        }

        .dayNumber {
          font-size: 36px;
          font-weight: 500;
          color: #9d77e0;
        }

        .info {
          font-size: 16px;
          font-weight: 500;
          color: #203c6c;
          width: 70%;
          margin: 0 auto;
          display: none;
        }
      }

      .mask {
        position: absolute;
        background-color: #f6f9fe;
        height: 50px;
        width: 32px;
        border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;
        top: 50%;
        right: 0;
        transform: translate(7px, -50%);
      }

      .mask2 {
        position: absolute;
        background-color: #f6f9fe;
        height: 50px;
        width: 10px;
        top: 50%;
        right: 0;
        transform: translate(11px, -50%);
      }
    }
  }

  .addButton {
    position: fixed;
    display: flex;
    background-color: #9d77e0;
    padding: 22px;
    bottom: 94px;
    right: 38px;
    border-radius: 100px;
    box-shadow: 0 2px 15px 0 rgba(157, 119, 224, 0.4);

    img {
      width: 20px;
      height: 20px;
    }
  }
}

.dark {
  .topHeader, .subHeader, .case, .addButton, .menu {
    filter: brightness(0.4);
    background-color: rgba(#000000, 0.6);
  }

  .scroll-content {
    background-color: rgba(#000000, 0.6)!important;
  }

  .modalMessage {
    display: flex;
  }
}

.modalMessage {
  display: none;
  position: absolute;
  bottom: 60px;
  z-index: 20;
  background-color: white;
  text-align: center;
  flex-direction: column;
  padding: 19px 25px;
  border-radius: 6px;
  width: 90%;
  left: 50%;
  box-shadow: 0 2px 15px 0 rgba(167, 182, 209, 0.4);
  transform: translate(-50%, 0);

  img {
    width: 36px;
    margin: 0 auto;
  }

  h3 {
    margin-top: 10px;
    color: #a7b6d1;
    font-weight: 500;
    font-size: 20px;
  }

  p {
    margin-top: 14px;
    color: #203c6c;
    font-size: 16px;
    font-weight: 500;
    padding: 0 15px;
  }
}
