<div class="topHeader">
  <img src="assets/imgs/logo-soonly.svg" alt="Image" class="logo">
  <img src="assets/imgs/settings.svg" alt="Image" class="settings" (tap)=showInscription()>
</div>

<div class="mainContent">
  <div class="subHeader">
    <div *ngFor="let calendar of calendars; let isFirst = first" class="user"
         [ngClass]="{'active': ((isFirst && calendarid===undefined) || (calendarid == calendar.id)) }"
         (tap)="showTheCalendar(calendar.id)">
      <img src="assets/imgs/person.svg" alt="Image">
      <p>{{ calendar.name }}</p>
      <div class="selectMark"></div>
    </div>
  </div>


  <ion-content>
    <div class="date">Décembre 2017</div>
    <div class="calendarGroup">
      <div *ngFor="let event of events" class="case" [ngClass]="{'add': event.id===-1, 'fill': event.id!==-1, 'open': event.viewed, 'discover': event.discover}">
        <div class="content">
          <p class="dayLeft">J-{{ event.dayLeft }}</p>
          <p class="dayNumber">{{ event.dayNumber }}</p>
          <p class="info" *ngIf="event.id===-1">Peut-être une surprise ? </p>
          <p class="info" *ngIf="event.viewed">Vu !</p>
          <p class="info" *ngIf="!event.viewed && event.discover || event.toBeSeen">Ouvrez vite !</p>
        </div>
        <div class="mask"></div>
        <div class="mask2"></div>
      </div>
    </div>
    <div class="addButton" (tap)="showCalendarCreationOne()">
      <img src="assets/imgs/add.svg" alt="Image">
    </div>
  </ion-content>
</div>

<div class="tabBar hide-on-keyboard-open">
  <div class="logoPlacement">
    <img src="assets/imgs/logo-soonly.svg" alt="Image">
  </div>

  <div class="menu">
    <div class="menuItem active">
      <div class="borderLeft"></div>
      <img src="assets/imgs/event-active.svg" alt="Image">
      <p>Reçus</p>
    </div>

    <div class="menuItem" (tap)="showMyCalendarsSend()">
      <div class="borderLeft"></div>
      <img src="assets/imgs/send.svg" alt="Image">
      <p>Envoyés</p>
    </div>

    <div class="menuItem" (tap)="showMemories()">
      <div class="borderLeft"></div>
      <img src="assets/imgs/photo_library.svg" alt="Image">
      <p>Souvenirs</p>
    </div>
  </div>
</div>
