page-opensurprise.ion-page {
  .mainContent {
    height: calc(100vh - 56px);

    ion-content {
      height: 100%;

      .scroll-content {
        padding: 11px!important;
        padding-right: 14px!important;
        height: 100%;
        width: 100%;
        border: 10px solid #6c588f;

        .content {
          height: 100%;
          width: calc(100vw - 20px);
          text-align: center;

          img {
            display: none;
            width: 100%;
            object-fit: cover;
            object-position: center center;
          }

          .text {
            display: none;
            width: calc(100% - 22px);
            height: 100%;
            text-align: left;
            color: #203c6c;
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
          }

          &.image {
            img {
              display: block;
            }
          }

          &.message {
            .text {
              display: block;
            }
          }
        }
      }
    }
  }
}
