// Reset CSS
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    vertical-align:baseline;
}


// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.ion-page {

  .topHeader {
    width: 100%;
    height: 48px;
    background-color: #08348c;
    display: flex;

    img {
      width: 58px;
      margin: 0 auto;
    }

    @media (min-width: 567px) {
      display: none;
    }
  }

  @media (min-width: 567px) {
    flex-direction: row;
  }

  .mainContent {
    background-color: white;
    width: 100vw;
    height: calc(100vh - 50px - 48px);

    @media (min-width: 567px) {
      width: calc(100vw - 119px);
      height: 100vh;
      margin-left: 119px;
    }

    .header {
      height: 80px;
      padding: 0 16px;
      border-bottom: 1px solid #d4d9e8;

      @media (min-width: 567px) {
        height: 120px;
        padding: 0 25px;
      }

      .back {
        display: inline-block;

        &:active {
          background: #e4d3df;
        }

        .ion-md-arrow-back {
          font-size: 1.5em;
          padding: 25px;
        }
      }

      h1 {
        display: inline-block;
        font-size: 24px;
        font-weight: 500;
        color: #203c6c;
        margin-top: 15px;
        letter-spacing: 0.1px;

        @media (min-width: 567px) {
          font-size: 36px;
          margin-top: 26px;
          font-weight: 400;
        }
      }

      h2 {
        font-size: 14px;
        font-weight: 400;
        color: #a7b6d1;
        margin-top: 4px;

        @media (min-width: 567px) {
          font-size: 18px;
          font-weight: 400;
          margin-top: 5px;
        }
      }
    }

    .subHeader {
      height: 55px;
      border-bottom: 2px solid #d4d9e8;
      display: flex;
      justify-content: center;

      @media (min-width: 567px) {
        height: 80px;
      }

      .title {
        position: relative;
        font-size: 14px;
        font-weight: 500;
        line-height: 55px;
        text-transform: uppercase;
        height: 100%;
        color: #a7b6d1;
        padding: 0 23px;

        @media (min-width: 567px) {
          font-size: 16px;
          line-height: 78px;
        }

        .selectMark {
          position: absolute;
          bottom: -2px;
          width: calc(100% - 46px);
          height: 4px;
          border-top-left-radius: 100px;
          border-top-right-radius: 100px;
        }

        &.active {
          color: #ef8fb0;

          .selectMark {
            background-color: #ef8fb0;
          }
        }
      }
    }

    ion-content {
      background-color: inherit;
      height: calc(100vh - 48px - 80px - 55px - 61px); // Remove header & tabBar

      @media (min-width: 567px) {
        height: calc(100vh - 200px);
      }

      .scroll-content {
        padding: 25px 16px;

        @media (min-width: 567px) {
          padding: 25px;
        }

        ion-item {
          background-color: inherit;
        }
      }
    }
  }

  .tabBar {
    z-index: 10;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 61px;
    background-color: #08348c;
    color: white;

    .logoPlacement {
      display: none;
      position: absolute;
      width: 100%;
      padding: 19px 0;

      @media (min-width: 567px) {
        display: flex;
      }

      img {
        width: 58px;
        margin: 0 auto;
      }
    }

    .menu {
      height: 100%;
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content:center;

      @media (min-width: 567px) {
        flex-direction: column;
        justify-content: center;
      }

      .menuItem {
        position: relative;
        width: 130px;
        padding: 0 15px;

        @media (min-width: 567px) {
          padding: 20px 0;
          width: auto;
        }

        .borderLeft {
          position: absolute;
          width: 80px;
          margin-left: 10px;
          height: 4px;
          bottom: 0;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;

          @media (min-width: 567px) {
            width: 4px;
            height: calc(100% - 40px);
            bottom: auto;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            margin-left: 0px;
          }
        }

        img {
          width: 24px;
          margin-top: 8px;

          @media (min-width: 567px) {
            margin-top: 0;
          }
        }

        p {
          font-size: 14px;
          font-weight: 400;
          color: #a7b6d1;

          @media (min-width: 567px) {
            font-weight: 500;
          }
        }

        &.active {
          .borderLeft {
            background-color: #ef8fb0;
          }

          p {
            color: white;
          }
        }
      }
    }

    @media (min-width: 567px) {
      width: 119px;
      height: 100vh;
    }
  }
}
