page-myCalendarsSend .calendarGroup .case {
  &.add .content .info {
    display: block;
    color: #203c6c;
  }

  &.open {
    border: dashed 1px #a7b6d1;

    .content .info {
      display: block;
    }

    .mask {
      border-left: dashed 1px #a7b6d1;
      border-top: dashed 1px #a7b6d1;
      border-bottom: dashed 1px #a7b6d1;
    }
  }

  &.fill .content .info {
    display: block;
    color: #70cea4;
  }

  &.addBright {
    z-index: 20;
    box-shadow: 0 2px 15px 0 #a7b6d1;
    filter: none;

    .mask {
      box-shadow: inset 0 2px 15px 0 #a7b6d1;
      filter: brightness(0.4);
    }

    .mask2 {
      filter: brightness(0.4);
    }

    .content .info {
      display: block;
    }
  }
}
