page-myCalendarsSend {
  .calendarGroup {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media (min-width: 567px) {
      justify-content: space-around;
    }

    .calendarBox {
      width: 100%;
      height: 184px;
      background-color: #f6f9fe;
      border: 1px solid rgba(167, 182, 209, 0.25);
      border-radius: 6px;
      padding: 15px 15px 20px 15px;
      margin-bottom: 16px;

      @media (min-width: 567px) {
        width: 268px;
        height: 227px;
        margin: 10px 0;
      }

      .dayLeft {
        font-size: 14px;
        font-weight: 500;
        color: #a7b6d1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        @media (min-width: 567px) {
          font-size: 16px;
        }
      }

      .title {
        margin-top: 0px;
        font-size: 20px;
        font-weight: 400;
        color: #203c6c;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        @media (min-width: 567px) {
          margin-top: 5px;
          font-size: 24px;
        }
      }

      .box {
        position: relative;
        padding: 8px 10px;
        margin-top: 11px;
        background-color: white;
        box-shadow: 0 2px 4px 0 rgba(167, 182, 209, 0.35);

        @media (min-width: 567px) {
          margin-top: 21px;
          padding: 15px 10px;
        }

        .borderTop {
          position: absolute;
          transform: translate(-10px, -10px);
          width: 100%;
          height: 4px;
          border-top-left-radius: 100px;
          border-top-right-radius: 100px;
          background-color: #ef8fb0;

          @media (min-width: 567px) {
            transform: translate(-10px, -15px);
          }
        }

        .lineBox {
          display: flex;
          padding: 3px 0;

          img {
            width: 36px;
            height: 36px;
            border-radius: 100px;
            object-fit: cover;
            margin-right: 10px;
          }

          p {
            font-size: 16px;
            line-height: 36px;
            font-weight: 500;
            color: #203c6c;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          &.caseBox {
            position: relative;

            .notification {
              position: absolute;
              width: 8px;
              height: 8px;
              border-radius: 100px;
              transform: translate(24px, 8px);

              &.active {
                background-color: #ED8EAE;
              }
            }
          }
        }
      }
    }
  }

  .addButton {
    position: fixed;
    display: flex;
    background-color: #9d77e0;
    padding: 22px;
    bottom: 94px;
    right: 38px;
    border-radius: 100px;
    box-shadow: 0 2px 15px 0 rgba(157, 119, 224, 0.4);

    img {
      width: 20px;
      height: 20px;
    }
  }
}
