<div class="topHeader">
  <img src="assets/imgs/logo-soonly.svg" alt="Image" class="logo">
  <img src="assets/imgs/settings.svg" alt="Image" class="settings" (tap)=showInscription()>
</div>

<div class="mainContent" [ngClass]="{'noBox': memories == undefined}">
  <div class="subHeader">
    <div class="user">
      <h1>Souvenirs</h1>
    </div>
  </div>
  <ion-content>
    <div class="memoriesGroup" [ngClass]="{'noBox': memories == undefined}">
      <div class="memories" *ngFor="let memory of memories" [ngClass]="{'text': memory.type === 'message', 'video': memory.type === 'video', 'image': memory.type === 'image'}">
        <img *ngIf="memory.type === 'image'" src="{{ memory.base64 }}">
        <img src="assets/imgs/play.svg" alt="Image" class="playIcon">
        <img src="assets/imgs/quote.svg" alt="Image" class="quote">
        <p class="phrase">{{ memory.message}}</p>
      </div>
    </div>
  </ion-content>
</div>

<div class="tabBar hide-on-keyboard-open">
  <div class="logoPlacement">
    <img src="assets/imgs/logo-soonly.svg" alt="Image">
  </div>

  <div class="menu">
    <div class="menuItem" (tap)="showMyCalendarsReceived()">
      <div class="borderLeft"></div>
      <img src="assets/imgs/event.svg" alt="Image">
      <p>Reçus</p>
    </div>

    <div class="menuItem" (tap)="showMyCalendarsSend()">
      <div class="borderLeft"></div>
      <img src="assets/imgs/send.svg" alt="Image">
      <p>Envoyés</p>
    </div>

    <div class="menuItem active">
      <div class="borderLeft"></div>
      <img src="assets/imgs/photo_library-active.svg" alt="Image">
      <p>Souvenirs</p>
    </div>
  </div>
</div>

<div class="noBoxContent" [ngClass]="{'noBox': memories == undefined}">
  <img src="assets/imgs/illu4.png" alt="Image">
  <h3>Aucun souvenir en vue</h3>
  <p>Vos premiers souvenirs apparaîtront à la fin de votre premier calendrier</p>
</div>
